@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    text-decoration: none;
    font-family: arial;
}


.marca {
    float: left;
    margin-left: 300px;
    font-size: 25px;
    font-weight: 800;
}

.cabecalho {
    font-size: 18px;
    color: white;
    height: auto;
    font-weight: 500;
    margin-top: 40px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
}

.cabecalho ul {
    text-align: right;
}

.menu {
    margin-right: 200px;
}

.menu li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    font-weight: 600;

}

.texto {
    margin-top: 25%;
    color: white;
    margin-left: 350px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

p {
    margin-top: 10px;
    line-height: 20px;
}

.start {
    margin-top: 10px;
    background: blue;
    border-radius: 6px;
    padding: 15px 20px;
    color: white;
    border: none;
}

img {
    height: 450px;
    height: 450px;
    margin-left: 47%;
    margin-top: -360px;
}

.ativo {
    background: blue;
    padding: 13px;
    border-radius: 5px;
}

@media (max-width: 1280px) {
    .menu {
        width: 100%;
    }

    .marca {
        margin: 0px 60px
    }

    .esquerda {
        display: flex;
        align-items: center;
        align-content: center;
        margin-left: -260px
    }

    img {
        width: 350px;
        height: 350px;
        margin-left: 410px;
    }
}

@media (max-width: 1280px) {
    .menu {
        width: 100%;
    }

    .marca {
        margin: 0px 60px
    }
}

@media (max-width: 798px) {
    .menu {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: auto;
        font-size: 10px;
    }

    .marca {
        float: none;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin:auto;
    }

    .menu li {
        margin: 10px;
    }

    .esquerda {
        margin-left: -315px;
        font-size: 15px;
        margin-top: 35px;
    }

    .esquerda h1 {
        font-size: 25px;
    }

    img {
        width: 200px;
        height: 200px;
        display: flex;
        margin: auto;
        margin-top: 25px;
    }

    .texto {
        margin-top: 40px;
    }
 }


