@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    text-decoration: none;
    font-family: arial;
}


.marca {
    float: left;
    margin-left: 300px;
    font-size: 25px;
    font-weight: 800;
}

.cabecalho {
    font-size: 18px;
    color: white;
    height: auto;
    font-weight: 500;
    margin-top: 40px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
}

.cabecalho ul {
    text-align: right;
}

.menu {
    margin-right: 200px;
}

.menu li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    font-weight: 600;

}

.texto {
    margin-top: 15%;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.precos {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: center;
}

.sub1 {
    background: rgb(127, 231, 162);
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    height: 530px;
    border-radius: 25px;
}

.sub2 {
    background: rgb(38, 114, 177);
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    margin-left: 20px;
    height: 530px;
    border-radius: 25px;
}

.sub3 {

    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    margin-left: 20px;
    background-color: rgb(231, 162, 35);
    height: 530px;
    border-radius: 25px;
}

.precobb {
    margin: ;
}

.precob {
    background: white;
    height: 433px;
    width: 250px;
    margin-top: 75px;
    line-height: 45px;
    text-align: center;
    border-radius: 70px 70px 25px 25px;
}

.precob h1 {
    color: rgb(127, 231, 162);
}
.precom {
    background: white;
    height: 420px;
    width: 250px;
    margin-top: 90px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
}

.precom h1 {
    color: rgb(38, 114, 177);
}

.precov {
    background-color: white;
    height: 420px;
    width: 250px;
    margin-top: 90px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
}

.precov h1 {
    color: rgb(231, 162, 35);
}

.comprar1 {
    width: 85px;
    height: 35px;
    background: rgb(127, 231, 162);
    border-radius: 8px;
}

.comprar2 {
    width: 85px;
    height: 35px;
    background: rgb(38, 114, 177);
    border-radius: 8px;
}

.comprar3 {
    width: 85px;
    height: 35px;
    background-color: rgb(231, 162, 35);
    border-radius: 8px;
}

.icon1 {
    width: 90px;
    height: 90px;
    background-color: white;
    position: absolute;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 20px;
    color: rgb(127, 231, 162);
}

.icon2 {
    width: 90px;
    height: 90px;
    background: white;
    position: absolute;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 20px;
    color: rgb(38, 114, 177);
}

.icon3 {
    width: 90px;
    height: 90px;
    background: white;
    position: absolute;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 20px;
    color: rgb(231, 162, 35);
}

.precob {
    margin-top: 65px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.precob p {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.precobb {
    margin-top: 50px;
}

.v i {
    color: rgb(5, 197, 31);
}

.x i {
    color: red;
}





