@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    text-decoration: none;
    font-family: arial;
}


.marca {
    float: left;
    margin-left: 300px;
    font-size: 25px;
    font-weight: 800;
}

.cabecalho {
    font-size: 18px;
    color: white;
    height: auto;
    font-weight: 500;
    margin-top: 40px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
}

.cabecalho ul {
    text-align: right;
}

.menu {
    margin-right: 200px;
}

.menu li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    font-weight: 600;

}

.texto {
    margin-top: 25%;
    color: white;
    margin-left: 350px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

p {
    margin-top: 10px;
    line-height: 20px;
}

.start {
    margin-top: 10px;
    background: blue;
    border-radius: 6px;
    padding: 15px 20px;
    color: white;
    border: none;
}

img {
    height: 450px;
    height: 450px;
    margin-left: 47%;
    margin-top: -360px;
}

.ativo {
    background: blue;
    padding: 13px;
    border-radius: 5px;
}

